[submodule "ffmpeg"]
	path = rust/libltntstools-sys/ffmpeg
	url = https://github.com/heftig/FFmpeg-ltn
	branch = libltntstools
[submodule "libdvbpsi"]
	path = rust/libltntstools-sys/libdvbpsi
	url = https://github.com/heftig/libdvbpsi
	branch = libltntstools
	ignore = untracked
