*.o
*.lo
*.la
Makefile
Makefile.in
.skip
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/.deps/
src/.libs/
/Cargo.lock
/target/
